{% from '/ui/icon.twig' import icon %}

<article class="blog-card">
	<span class="blog-card__label label">{{ blog.label }}</span>
	{{ picture_macro.picture(
		'blog-card__image{% if blog.is_primary %} blog-card__image--primary{% else %} blog-card__image--secondary{% endif %}',
		blog.image_src,
		blog.image_width,
		blog.image_height,
		blog.image_alt,
		false
	) }}
	<h2 class="blog-card__title title title--h2">{{ blog.title }}</h2>
	<p class="blog-card__excerpt">{{ blog.excerpt }}</p>
	{{ icon('blog-card__author-icon', 'author-icon', '16', '16') }}
	<span class="blog-card__author{% if blog.author_uppercase %} blog-card__author--uppercase{% endif %}">{{ blog.author }}</span>
	<span class="blog-card__separator separator"></span>
	<time class="blog-card__date" datetime="{{ blog.date_iso }}">{{ blog.date }}</time>
	<a href="{{ blog.read_more_url }}" class="button button--secondary blog-card__read-more">Read more
		{{ icon('blog-card__read-more-icon', 'right-arrow', '8', '14') }}</a>
</article>
