<section class="catalog-products">
	<h2 class="catalog-products__title">{{ catalog_products.title }}</h2>

	<div class="catalog-products__sort">
		<select id="sort-select" class="catalog-products__sort-select">
			<option value="" disabled selected hidden>Sort by</option>
			{% for option in catalog_products.sort_options %}
				<option value="{{ option.value }}">{{ option.label }}</option>
			{% endfor %}
		</select>
	</div>

	<div class="catalog-products__search">
		<form action="/search" method="get" class="catalog-products__search">
			<div class="catalog-products__search-wrapper">
				<input type="search" id="search" name="product" placeholder="{{ catalog_products.search.placeholder }}" aria-label="{{ catalog_products.search.aria_label }}" class="catalog-products__search-input">
				<span class="catalog-products__search-icon">
					<img src="#" alt="Search Icon">
				</span>
			</div>
		</form>
	</div>

	<form method="get" action="/catalog" class="catalog-products__tags">
		{% for tag in catalog_products.tags %}
			<button class="catalog-products__tag" name="tag" value="{{ tag }}">{{ tag }}</button>
		{% endfor %}
		<button class="catalog-products__clear-all" type="reset">Clear all</button>
	</form>

	<div class="catalog-products__grid">
		{% for product in catalog_products.items %}
			<article class="product-card">
				<div class="product-card__image-container">
					<img src="{{ product.image }}" alt="{{ product.title }}" class="product-card__image">
					<div class="product-card__hover-menu">
						<button class="product-card__favourites">
							<span>♡</span>
							Favourites</button>
						<button class="product-card__buy">Buy</button>
					</div>
				</div>
				<span class="product-card__label label{% if product.label|lower == 'sold out' %} label--secondary{% endif %}">{{ product.label }}</span>
				<h2 class="title title--h2 product-card__price">{{ product.price }}</h2>
				<p class="product-card__title">{{ product.title }}</p>
			</article>
		{% endfor %}
		<button class="catalog-products__load-more">Load More</button>
	</div>

</section>
