{% from '/ui/icon.twig' import icon %}
<section class="catalog">
	<div class="catalog__header">
		{{ icon('catalog__icon', 'folder-icon', 22, 20) }}
		<h4 class="catalog__title title title--h4">{{ catalog.title }}</h4>
		<div class="catalog__divider separator separator__catalog"></div>
		<a href="{{ catalog.see_all_url }}" class="button button--secondary catalog__see-all">See all</a>
		<span class="catalog__separator separator"></span>
		<button type="button" aria-label="Previous catalog item" class="button button--secondary catalog__nav-button">
			{{ icon('catalog__nav-icon', 'left-arrow', 8, 14) }}
		</button>
		<button type="button" aria-label="Next catalog item" class="button button--secondary catalog__nav-button">
			{{ icon('catalog__nav-icon', 'right-arrow', 8, 14) }}
		</button>
	</div>
	<ul class="catalog__list">
		{% for product in catalog.products %}
			{% include './product-card.twig' with { product: product } %}
		{% endfor %}
	</ul>
</section>
