<section class="contact-info">
	<div class="contact-info__item">
		<img src="#" alt="Location Icon">
		<h2 class="contact-info__title title title--h2">{{ contact_info.location.title }}</h2>
		<p class="contact-info__text">{{ contact_info.location.address }}</p>
	</div>
	<div class="contact-info__item">
		<img src="#" alt="Email Icon">
		<h2 class="contact-info__title title title--h2">{{ contact_info.email.title }}</h2>
		<p class="contact-info__text">{{ contact_info.email.address }}</p>
	</div>
	<div class="contact-info__item">
		<img src="#" alt="Phone Icon">
		<h2 class="contact-info__title title title--h2">{{ contact_info.phone.title }}</h2>
		<p class="contact-info__text">{{ contact_info.phone.number }}</p>
	</div>
</section>
