{% from '/ui/icon.twig' import icon %}

<footer class="footer">
	<section class="footer__brand">
		<a href="{{ footer.logo.href }}" class="link logo footer__logo-link">
			<img src="/src/assets/icons/binabox-logo-blue.svg" alt="Binabox logo" class="logo footer__logo-image" width="188" height="42"/>
			<p class="footer__description">{{ footer.description }}</p>
		</section>
		<nav class="footer__nav">
			<span class="footer__nav-title">{{ footer.nav.title }}</span>
			<ul class="footer__nav-list">
				{% for item in footer.nav.items %}
					<li class="footer__nav-item">
						<a href="{{ item.href }}" class="link footer__nav-link">{{ item.text }}</a>
					</li>
				{% endfor %}
			</ul>
		</nav>
		<p class="footer__copyright">{{ footer.copyright }}</p>
		<address class="footer__socials">
			{% for social in footer.socials %}
				<a href="{{ social.href }}" aria-label="{{ social.label }}" class="footer__social-link">
					{{ icon('footer__social-icon', social.label|lower, '24', '24') }}
				</a>
			{% endfor %}
		</address>
	</footer>
