{% from '/ui/icon.twig' import icon %}

<header class="header">
	<a href="{{ header.home_url }}" class="link logo header__logo-link">
		<img src="/src/assets/icons/binabox-logo.svg" alt="Binabox logo" class="logo header__logo-image" width="188" height="42"/>
	</a>
	<nav class="header__nav">
		<ul class="navigation">
			{% for item in header.navigation_items %}
				{# Map current_page to navigation label for accurate active state #}
				{% set page_map = {
							'index': 'home',
							'blog': 'blog',
							'catalog': 'catalog',
							'contact': 'contact us'
						} %}
				{% set page_label = page_map[current_page]|default(current_page)|lower|replace({' ': ''}) %}
				{% set item_key = item.label|lower|replace({' ': ''}) %}
				<li class="navigation__item">
					<a href="{{ item.url }}" class="link navigation__link{% if item_key == page_label %} navigation__link--active{% endif %}">{{ item.label }}</a>
				</li>
				{{ icon('navigation__icon', "nav-arrow", 16, 16) }}
			{% endfor %}
		</ul>
	</nav>
	<div class="header__actions">
		<form action="/search" method="get" class="header__search-form">
			<label for="search" class="visually-hidden">{{ header.search_label|default('Search') }}</label>
			<div class="header__search-wrapper">
				<input type="search" id="search" name="search" placeholder="{{ header.search_placeholder }}" class="header__search">
				<span class="header__search-icon">
					{{ icon('header__search-icon', 'search', 24, 24) }}
				</span>
				<button type="submit" class="visually-hidden">{{ header.search_submit_label|default('Search') }}</button>
			</div>
		</form>
		<span class="header__separator separator"></span>
		<a href="{{ header.discord_url }}" class="button button--secondary header__discord-link">
			{{ icon('header__discord-icon', 'discord', 22, 16) }}
			{{ header.discord_label }}
		</a>
		<button type="button" class="button header__login-button">
			{{ icon('header__login-icon', 'login', 24, 24) }}
			{{ header.login_label }}
		</button>
	</div>
</header>
