<li class="employee">
	{{ picture_macro.picture(
		'employee__member-photo',
		member.image_src,
		member.image_alt,
		member.image_width,
		member.image_height,
		"false"
	) }}
	<h4 class="employee__member-name title title--h4">{{ member.name }}</h4>
	<span class="employee__member-role">{{ member.role }}</span>
	<div class="employee__member-socials">
		{% for social in member.socials %}
			<a href="{{ social.url }}" aria-label="{{ social.label }}" class="employee__social-link">
				<img src="{{ social.icon|replace({'src/assets/icons/':'src/assets/icons/'}) }}" alt="{{ social.label }} icon" class="employee__social-icon">
			</a>
		{% endfor %}
	</div>
</li>
